form
{
    display:block;
      width:625px;
      margin-left: auto;
      margin-top:none;
    margin-right: auto;
      background-color :#DDD9D0;
      border:solid #DDD9D0;

}
.container
 {
    padding-block-start: none;

     margin-top:-15px;
    width: 625px;
     height: 200px;
    margin-left: auto;
    margin-right: auto;
    background:url("žuta.jpg");
   
    background-size: 100% 100%;


 }
 .container2
 {
     margin-top:25px;
    width: 625px;
     height: 200px;
    margin-left: auto;
    margin-right: auto;
    background:url("roza.jpg");
   
    background-size: 100% 100%;





 }
 .container3
 {
    margin-top:25px;
    width: 625px;
     height: 200px;
    margin-left: auto;
    margin-right: auto;
    background:url("telefon.jpg");
   
    background-size: 100% 100%;

 }










